.container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: solid 3px;
  border-bottom: solid 3px;
  border-bottom-left-radius: 8px;
  padding: 8px;
  margin: 8px;
}

button{
  border: none;
  padding: 4px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.delete-btn{
  background-color: red;
  cursor: pointer;
}

.edit-btn{
  background-color: cornflowerblue;
  margin: 4px;
  padding: 4px;
  cursor: pointer;
}

.content{
  display: flex;
  flex-direction: column;
}

mat-card{
  border: solid 4px;
}