<div class="container"  [style.borderColor]="todo.priority | priorityColor">
    <h2 *ngIf="!id">Aggiungi ToDo</h2>
    <h2 *ngIf="id">Modifica ToDo</h2>
    <mat-form-field color="accent" appearance="fill">
        <mat-label>Todo Name</mat-label>
        <input matInput type="text"  [(ngModel)]="todo.name">
      </mat-form-field>
      <mat-form-field color="accent"  appearance="fill">
        <mat-label>Priority</mat-label>
        <input matInput type="number"  [(ngModel)]="todo.priority">
      </mat-form-field>
      <mat-form-field color="accent"  appearance="fill">
        <mat-label>Tags</mat-label>
        <input matInput type="text"  [ngModel]="(todo.tags | tagsString) " (ngModelChange)="this.todo.tags = convertTags($event)">
      </mat-form-field>
    <button mat-button color="white" [disabled]="!todo.name" (click)="saveTodo()">Save</button>
</div>
