<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button routerLink="/todos" mat-icon-button >
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button >
    <mat-icon routerLink="/done">task_alt</mat-icon>
  </button>
  <button  *ngIf="isLight" mat-icon-button (click)="changeTheme()">
    <mat-icon>nights_stay</mat-icon>
  </button>
  <button *ngIf="!isLight" mat-icon-button (click)="changeTheme()" >
    <mat-icon>light_mode</mat-icon>
  </button>
</mat-toolbar>
<!-- <app-list></app-list> -->

<router-outlet></router-outlet>
